.searchBar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 568px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #121212;
    background: #FFFFFF;
    position: relative;
}

.searchInput {
    flex: 1;
    border: 1px;
    padding: 10px;
    height: 100%;
    outline: none;
    border-radius: 8px 0 0 8px;
    width: 80%;
}



.searchButton {
    width: 66px;
    height: 48px;
    top: 13px;
    left: 938px;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #121212;
    border: 1px 0px 0px 0px;
}

.searchButton i {
    width: 20px;
    height: 20px;
    top: 27px;
    left: 961px;
}
