.button {
    width: 170px;
    height: 47px;
    padding: 10px 16px 10px 16px;
    border-radius: 12px;
    border: 1px 0px 0px 0px;
    background: #121212;
    border: 1px solid #34C94B;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    color: #34C94B;
}